<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/homestyles.css}" />
    <title>Abe Chat</title>
</head>
<body>
    <h1>Welcome to Abe Chat Pre-Alpha!!!!!!!!</h1>
    <div id="chat">
        <nav class="navbar">
    <!-- placeholder navbar -->
    <ul>
        <li><a class="button">Login</a></li>
        <li><a class="button">Chat</a></li>
        <li><a class="button">Profile</a></li>
        <li><a class="button">Settings</a></li>
    </ul>
</nav>
    </div>

</body>
</html>