<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/generalStyles.css}" />
    <title>Abe Chat</title>
</head>
<body class="background-container">
       <!-- placeholder navbar -->
    <nav class="navbar">
    <ul>
        <li><a th:href="@{/}" class="button">Home</a></li>
    </ul>
</nav>

<!-- Login form-->
<div class="background-container">
        <h1>Login</h1>
        <div class="form-container">
            <div th:if="${param.error}" class="error-message">
			    Invalid username or password.
            </div>
            <form th:action="@{/login}" method="post" class="login-form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <button type="submit" class="button">Login</button>
            </form>
            <p>Need to create an account? <a th:href="@{/createUser}">Sign up here</a></p>
        </div>
    </div>
</body>
</html>